<div class="container mt-5 pt-5 pb-5">
  <div class="d-flex pb-2 mb-3 align-items-center">
    <%= render 'user_info', user: @user %>
  </div>
  <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
    <% if @user.name.present? %>
      <h3 class="gray">
        <i class="fas fa-comments me-2"></i>
        Reviews for
        <%= @user.name.capitalize %>
      </h3>
    <% else %>
      <h3 class="gray"><i class="fas fa-comments me-2"> Reviews</h3>
    <% end %>
    <% if @user != current_user %>
      <%= link_to "<i class='fas fa-plus'></i> Add a review".html_safe, new_user_user_review_path(@user), class: "dark-gray-purple-link" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'guest_user_reviews', as_guest_reviews: @as_guest_reviews, guest_rating: @guest_rating %>
    </div>
    <div class="col">
      <%= render 'host_user_reviews', as_host_reviews: @as_host_reviews, host_rating: @host_rating %>
    </div>
  </div>
  <%= render 'planets', user: @user %>
  <%= render 'reviews', user: @user %>
</div>
