<div class="col col-6 m-auto mt-2">
  <%= simple_form_for @planet do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <div class="row">
      <div class="col col-6">
        <%= f.input :price_per_night %>
      </div>
      <div class="col col-6">
        <%= f.input :maximum_guests %>
      </div>
    </div>
    <div class="row">
      <div class="col col-6">
        <%= f.input :rotation_time %>
      </div>
      <div class="col col-6">
        <%= f.input :revolution_time %>
      </div>
    </div>
    <div class="row">
      <div class="col col-6">
        <%= f.input :radius %>
      </div>
      <div class="col col-6">
        <%= f.input :avg_temp %>
      </div>
    </div>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit class:"btn btn-lg btn-primary mt-2", style: "width: 100%" %>
  <% end %>
</div>
