<div class="border-top border-bottom pb-1 pt-3">
  <div class="row">
    <p class="col col-6">
      Rotation time: <%= @planet.rotation_time %> days
    </p>
    <p class="col col-6">
      Revolution time: <%= @planet.revolution_time %> days
    </p>
  </div>
  <div class="row">
    <p class="col col-6">
      Radius:
      <%= number_with_delimiter(@planet.radius, :delimiter => ',') %> km
    </p>
    <p class="col col-6">
      Average temperature: <%= @planet.avg_temp %>°C
    </p>
  </div>
  <p>Location: <%= @planet.location %></p>
</div>
<p class="pe-5 mt-3"><%= @planet.description %></p>
