<div class="container mt-5 pt-5">
  <h1><%= @planet.name %></h1>
  <span><%= @reviews_avg %><i class="fas fa-star warning"></i> - </span>
  <span><%= @planet.reviews.count %> review(s)</span>
  <div>
    <div class="row mt-3">
      <div class="col col-6 pe-5">
        <div class="border-top border-bottom pb-1 pt-3">
          <div class="row">
            <p class="col col-6">
              Rotation time: <%= @planet.rotation_time %> days
            </p>
            <p class="col col-6">
              Revolution time: <%= @planet.revolution_time %> days
            </p>
          </div>
          <div class="row">
            <p class="col col-6">
              Radius:
              <%= number_with_delimiter(@planet.radius, :delimiter => ',') %> km
            </p>
            <p class="col col-6">
              Average temperature: <%= @planet.avg_temp %>°C
            </p>
          </div>
          <p>Location: <%= @planet.location %> g</p>
        </div>
        <p class="pe-5 mt-3"><%= @planet.description %></p>
      </div>
      <%= render "reservations/booking_card" %>
    </div>
    <div class="d-flex gap-3 mt-5 mb-3 col col-6">
      <h3>Reviews</h3>
      <%= link_to "Add a review", new_planet_review_path(@planet), class:"btn btn-outline-primary" %>
    </div>
    <ul class="list-group col col-6">
      <% @planet.reviews.each do |review| %>
        <li class="list-group-item">
          <%= review.content %> - <%= review.rating %>
          <i class="fas fa-star warning"></i>
        </li>
      <% end %>
    </ul>
  </div>
</div>
