
<div class="container mt-5">
  <h1><%= @planet.name %></h1>
  <span><i class="bi bi-star-fill"></i> <%= @reviews_avg %> - </span>
  <span><%= @planet.reviews.count %> review(s)</span>
  <div>
    <div class="row mt-3">
      <div class="col col-6 pe-5">
        <div class="border-top border-bottom pb-1 pt-3">
          <p>Rotation time: <%= @planet.rotation_time %> days</p>
          <p>Revolution time: <%= @planet.revolution_time %> days</p>
          <p>Radius: <%= @planet.radius %> km</p>
          <p>Average temperature: <%= @planet.avg_temp %>°C</p>
        </div>
        <p class="pe-5 mt-3"><%= @planet.description %></p>
      </div>
      <%= render "reservations/booking_card" %>
    </div>
  </div>
</div>
