<div class="container pt-3 mt-5 mb-5" data-controller="show">
  <%= render "planet_header", planet: @planet, reviews_avg: @reviews_avg %>
  <div>
    <%= render "planet_images" %>
    <div class="row mt-3 about-planet">
      <div class="col col-6 pe-5">
        <%= render "planet_info" %>
      </div>
      <%= render "reservations/booking_card" %>
    </div>
  </div>
  <div class="d-flex col col-6 align-items-end justify-content-between pb-2 mt-5 gap-3 border-bottom">
    <h3 class= "trispace offwhite" style="margin: 0">Reviews</h3>
    <button
      class="dark-gray-purple-link"
      data-show-target="button"
      data-action="click->show#showForm">
      <i class='fas fa-plus'></i>
      Add a review
    </button>
  </div>
  <%= render 'planet_reviews', planet: @planet, review: @review %>
</div>
</div>
