<div class="banner" data-controller="home">
  <div class="overlay">
    <p class="overlay-text line-1 anim-typewriter" >u-chuu</p>
    <%= video_tag("spaceloop.mp4", class: "background-video", autoplay: :autoplay, loop: :true, muted: :true) %>
  </div>
</div>
<div class="container pb-4">
  <div class="d-flex justify-content-center">
    <h3 class="mt-5">Browse our popular galatic destinations</h3>
  </div>
  <div class="home-cards pt-3 pb-3 ps-2 pe-2">
    <%= render 'hot_card' %>
    <%= render 'dark_card' %>
    <%= render 'cold_card' %>
    <%= render 'jungle_card' %>
  </div>
  <div class="d-flex justify-content-center pb-4">
    <%= link_to "Show me a random planet <i class='fas fa-random'></i>".html_safe, planet_path(@planets.sample), class: 'big-gray-purple-link'%>
  </div>
</div>
