<div class="row">
  <%= simple_form_for [@planet, @reservation] do |f| %>
    <div class="row">
      <div class="col col-6">
        <%= f.input :start_date, as: :date, html5: true %>
      </div>
      <div class="col col-6">
        <%= f.input :end_date, as: :date, html5: true %>
      </div>
    </div>
    <%= f.input :number_of_guests %>
    <% if current_user == Reservation.find(params[:id]).planet.user %>
      <%= f.input :status, label: "approved" %>
    <% end %>
    <%= f.submit class:"btn btn-primary w-100 mt-2" %>
  <% end %>
</div>
