<h1>Reservations</h1>
<ul>
  <% @reservations.each do |reservation| %>
    <li>
      <%= reservation.planet.name %>
      <%= reservation.start_date %>
      <%= reservation.end_date %>
      <%= reservation.number_of_guests %>
      <%= link_to "edit", edit_reservation_path(reservation) %>
      <%= link_to "delete", reservation_path(reservation), method: :delete, data: { confirm: "Are you sure?"} %>
      <%= link_to "see details", reservation_path(reservation) %>
    </li>
  <% end %>
</ul>
