<div class="container pb-5 mb-3">
  <div class="d-flex justify-content-center mt-5 pt-5">
    <h1 class="main-heading trispace offwhite mb-3">Reservation Details</h1>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="reservation-details-card p-5">
        <div class="reservation-details d-flex align-items-center gap-4">
          <%= render 'reservation_details_planet', reservation: @reservation, reviews_avg: @reviews_avg %>
          <h4 class="border-top pt-4 pb-1 mt-4">Booking details</h4>
          <%= render 'reservation_details_booking', reservation: @reservation %>
          <h4 class="border-top pt-4 mt-4">Price details</h4>
          <%= render "total_price" %>
          <div class="d-flex justify-content-center mt-3">
            <% if @reservation.user == current_user %>
              <%= link_to "<i class='fas fa-undo'></i> Back to reservations".html_safe, reservations_path, class: "dark-gray-purple-link" %>
            <% elsif @reservation.planet.user == current_user %>
              <%= link_to "<i class='fas fa-undo'></i> Back to hostings".html_safe, owner_reservations_path, class: "dark-gray-purple-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
