<div class="container mt-5" style="background-color: gray">
  <h1 class="main-heading mt-10">Reservation Details</h1>
  <div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <p><strong>Dates: </strong></p>
        <p><%= @reservation.start_date %> - <%= @reservation.end_date %></p>
        <p><strong>Guests: </strong></p>
        <p><%= @reservation.number_of_guests %> guests</p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card-reservation">
          <div class="card-details m-5">
            <% if @reservation.planet.photos.first.present? %>
              <%= cl_image_tag(@reservation.planet.photos.first.key) %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3BhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="planet" >
            <% end %>
            <div class="card-reservation-infos">
              <h2><%= @reservation.planet.name %></h2>
              <p><%= @reservation.planet.description %></p>
              <span><%= @reviews_avg %><i class="fas fa-star warning"></i> - </span>
              <span><%= @reservation.planet.reviews.count %> review(s)</span>
            </div>
            <h2 class="card-reservation-pricing"><strong>Price:</strong> $<%= @reservation.planet.price_per_night %> x <%= (@reservation.end_date - @reservation.start_date).to_i %> nights = $<%= @reservation.planet.price_per_night * (@reservation.end_date - @reservation.start_date).to_i %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
