<div id="new-review-form" style="padding-left: 0 !important;" class="container new-review-form-user"  data-show-target="form">
  <div class="new-review-form card p-3 mt-2">
    <h2 class="offwhite trispace mb-3">Leave a review for <%= @user.name.capitalize %></h2>
    <%= simple_form_for [@user, @user_review] do |f| %>
      <div class="star-rating">
        <% 5.times do |i| %>
          <input type="radio" name="user_review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2%> />
        <% end %>
      </div>
      <%= f.input :comment, input_html: { data: { "show-target": "content", action: "input->show#isContentEmpty" } } %>
      <%= f.input :review_type, collection: UserReview.review_types.keys, label: "Was #{@user.name.capitalize} a host or guest?", include_blank: false %>
      <%= f.submit "Create Review", id:"create-review-button", class:"btn btn-primary m-auto mt-1", data: { "show-target": "createReviewButton" }, style: "width: 100%", disabled: true %>
    <% end %>
  </div>
</div>
